<% content_for :page_title, "Sign up" %>

<%= form_for @resource, url: sessions_sign_up_path do |f| %>
  <div class="form-group">
    <div class="mb-4">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, autofocus: true %>
    </div>

    <div class="mb-4">
      <%= f.label :password, "Password" %>
      <%= f.text_field :password, autofocus: true %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Sign up", class: "cta-btn" %>
    </div>
  </div>
<% end %>

<div class="text-center">
  <p class="text-grey-500 text-sm">
    Already have an account? <%= link_to "Sign in", sessions_sign_in_path %>
  </p>
</div>
